<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yo! | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
    {%block style%}
    {%endblock%}
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div id="flashpopup" class="popup">
                <div class="popup-content">
                <span class="close">&times;</span>
                <p>{{ message }}</p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="top-header">
        <nav>
            <ul>
                <li><a href="/">[ home ]</a></li>
                <li><a href="/docs">[ docs ]</a></li>
                <li><a href="/random">[ random ]</a></li>
                {% if session['logged_in'] %}
                <li><a href="/new">[ add ]</a></li>
                <li><a href="/logout">[ logout ]</a></li>
                {%else%}
                <li><a href="/login">[ login ]</a></li>
                {%endif%}
            </ul>
        </nav>
    </div>
{% block body %}
{% endblock %}
</body>
</html>
