{% extends base.html %}

{%block title%}docs{%endblock%}

{%block body%}

<ol>
    <li><strong>/api/new</strong>: add new contents. {
        "name":"event name",
        "date":"february 27, 2024",
        "time":"12.00 am",
        "content":"nogosg binted say lol goes brrrr...",
        "img": "https://random.imagecdn.app/400/210"
    }. return "id" of the post</li>
    <li><strong>/api/get?id=XY</strong>: get contents of post with id XY. returns {
        "num":"XY",
        "name":"event name",
        "date":"july 27, 2024",
        "time":"9:00 am",
        "content":"nogosg binted say lol goes brrrr...",
        "img": "https://random.imagecdn.app/400/210"
    }</li>
</ol>


{%endblock%}
