{% extends 'base.html' %}

{% block title %}index{%endblock%}

{% block body %}
<header>
    {% if posts=={} %}
    <div style="text-align:center">
        <h1>nothing here <strong><span class="anim">\_( ´_ゝ` )_/</span></strong></h1>
    </div>
    {% else %}
    <p>{{jokestart}} <strong><span class="anim">chuck norris</span></strong> {{ jokeend }} ({{ total }})</p>
    {% endif %}
</header>
<main>
    {% if posts=={} %}
    <div style="text-align:center">
        <p>check the <a style="text-decoration: underline;" href="//github.com/sortalost">github</a>, might as well?</p>
    </div>
    {% else %}
    {% for key in posts %}
    <hr>
    <a href="/post/{{key}}">
        <section>
            <h2>
                <strong>{{ posts[key]['num'] }}. <span style="text-decoration: underline;">{{posts[key]['name']}}</span></strong>
            </h2>
            <p>{{posts[key]['date']}}</p>
            <p>{{posts[key]['time']}}</p>
        </section>
    </a>
    {%endfor%}
    {% endif %}
    <hr>
</main>
{%endblock%}