{% extends 'base.html' %}

{%block title%}new{%endblock%}

{%block head %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">{%endblock%}

{%block body%}
{% if session['logged_in'] %}
<div style="text-align: center;">
  <form id="newform" method=POST>
  <br>
  <input type="text" required id="title" name="title" placeholder="Post Title">
  <br><br>
  <textarea style="text-align: left !important;" placeholder="write here..." required name="content" rows=10 cols=55></textarea>
  <br><br>
  <button onclick="postForm()" type="button">donee</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<script>
  const easyMDE = new EasyMDE();
  function postForm(){
    document.getElementById("newform").submit()
  }
</script>
{% endif %} 
{%endblock%}