{% extends 'base.html' %}

{% block title %}index{%endblock%}

{% block body %}
<header>
    <h1>get better lol</h1>
</header>
<main>
    {% for post in posts %}
    <script>console.log({{post}});console.log({{posts}})</script>
    <hr> <!-- White horizontal line before the first section -->
    <a href="/post/{{post.num}}">
        <section>
            <h2><strong>{{post.name}}</strong></h2>
            <p>{{post.date}}</p>
            <p>{{post.time}}</p>
        </section>
    </a>
    {%endfor%}
    <hr> <!-- White horizontal line after the last section -->
</main>
{%endblock%}