{% extends 'base.html' %}

{% block title %}index{%endblock%}

{% block body %}
<header>
    <h1>get better lol</h1>
</header>
<main>
    {% for post in posts %}
    <hr> <!-- White horizontal line before the first section -->
    <a href="/post/{{post.num}}">
        <section>
            <h2><strong>{{post.name}}</strong></h2>
            <p>{{post.date}}</p>
            <p>{{post.time}}</p>
        </section>
    </a>
    <hr> <!-- White horizontal line between sections -->
    <a href="#event2">
        <section>
            <h2><strong>Event 2</strong></h2>
            <p>August 3, 2024</p>
            <p>1:00 PM</p>
        </section>
    </a>
    <hr> <!-- White horizontal line between sections -->
    <a href="#event3">
        <section>
            <h2><strong>Event 3</strong></h2>
            <p>September 10, 2024</p>
            <p>9:00 AM</p>
        </section>
    </a>
    <hr> <!-- White horizontal line after the last section -->
</main>
{%endblock%}